<?php

$rules = [
    // Basic PSR-12 rules
    \PHP_CS_Fixer\Fixer\Basic\BraceNotation => true,
    \PHP_CS_Fixer\Fixer\Basic\Braces => ['allow_single_line_closure' => true],
    \PHP_CS_Fixer\Fixer\Basic\ClassAttributesSeparation => true,
    \PHP_CS_Fixer\Fixer\Basic\ClassDefinition => true,
    \PHP_CS_Fixer\Fixer\Basic\ClassKeywordRemove => true,
    \PHP_CS_Fixer\Fixer\Basic\CombineConsecutiveIslands => true,
    \PHP_CS_Fixer\Fixer\Basic\CombineConsecutiveUnsets => true,
    \PHP_CS_Fixer\Fixer\Basic\ConcatenationWithParentheses => true,
    \PHP_CS_Fixer\Fixer\Basic\ConstantCase => true,
    \PHP_CS_Fixer\Fixer\Basic\ControlStructureContinuationPosition => ['position' => 'next_line'],
    \PHP_CS_Fixer\Fixer\Basic\ControlStructureThickness => true,
    \PHP_CS_Fixer\Fixer\Basic\DeclareEqualNormalize => ['space' => 'single'],
    \PHP_CS_Fixer\Fixer\Basic\Elseif => true,
    \PHP_CS_Fixer\Fixer\Basic\EmptyLoopBody => true,
    \PHP_CS_Fixer\Fixer\Basic\EmptyLoopCondition => true,
    \PHP_CS_Fixer\Fixer\Basic\EmptyStatement => true,
    \PHP_CS_Fixer\Fixer\Basic\EregToPreg => true,
    \PHP_CS_Fixer\Fixer\Basic\ExplicitIndirectVariable => true,
    \PHP_CS_Fixer\Fixer\Basic\ExplicitStringVariable => true,
    \PHP_CS_Fixer\Fixer\Basic\FinalClass => true,
    \PHP_CS_Fixer\Fixer\Basic\FinalInternalClass => true,
    \PHP_CS_Fixer\Fixer\Basic\FunctionCallSpace => ['ensure_consistency' => false],
    \PHP_CS_Fixer\Fixer\Basic\GlobalNamespaceImport => true,
    \PHP_CS_Fixer\Fixer\Basic\Include => true,
    \PHP_CS_Fixer\Fixer\Basic\LineAfterNamespace => true,
    \PHP_CS_Fixer\Fixer\Basic\LinefeedAfterOpenTag => true,
    \PHP_CS_Fixer\Fixer\Basic\ListSyntax => true,
    \PHP_CS_Fixer\Fixer\Basic\LogicalOperators => true,
    \PHP_CS_Fixer\Fixer\Basic\LowercaseCast => true,
    \PHP_CS_Fixer\Fixer\Basic\LowercaseKeywords => true,
    \PHP_CS_Fixer\Fixer\Basic\MagicConstantCaseless => true,
    \PHP_CS_Fixer\Fixer\Basic\MagicMethodCasing => true,
    \PHP_CS_Fixer\Fixer\Basic\MethodArgumentSpace => ['on_multiline' => 'ensure_fully_multiline'],
    \PHP_CS_Fixer\Fixer\Basic\NativeFunctionInvocation => true,
    \PHP_CS_Fixer\Fixer\Basic\NewWithBraces => false,
    \PHP_CS Fixer\Fixer\Basic\NoAliasFunctions => true,
    \PHP_CS_Fixer\Fixer\Basic\NoBlankLinesAfterClassOpening => true,
    \PHP_CS_Fixer\Fixer\Basic\NoBlankLinesAfterPhpTag => true,
    \PHP_CS_Fixer\Fixer\Basic\NoEmptyComment => true,
    \PHP_CS_Fixer\Fixer\Basic\NoEmptyStatement => true,
    \PHP_CS_Fixer\Fixer\Basic\NoExtraBlankLines => true,
    \PHP_CS_Fixer\Fixer\Basic\NoLeadingImportSlash => true,
    \PHP_CS_Fixer\Fixer\Basic\NoLeadingNamespaceWhitespace => true,
    \PHP_CS_Fixer\Fixer\Basic\NoMultipleStatementsPerLine => true,
    \PHP_CS_Fixer\Fixer\Basic\NoShortBoolCast => true,
    \PHP_CS_Fixer\Fixer\Basic\NoSinglelineWhitespaceBeforeSemicolons => true,
    \PHP_CS_Fixer\Fixer\Basic\NoSpacesAfterPropertyInitializers => true,
    \PHP_CS_Fixer\Fixer\Basic\NoTrailingCommaInListCall => true,
    \PHP_CS_Fixer\Fixer\Basic\NoTrailingCommaInSinglelineArray => true,
    \PHP_CS_Fixer\Fixer\Basic\NoUnneededCurlyBraces => ['namespaces' => false],
    \PHP_CS_Fixer\Fixer\Basic\NoUnusedImports => true,
    \PHP_CS_Fixer\Fixer\Basic\NoUselessReturn => true,
    \PHP_CS_Fixer\Fixer\Basic\NormalizeAutoloadMapping => true,
    \PHP_CS_Fixer\Fixer\Basic\NormalizeIndexBrace => true,
    \PHP_CS_Fixer\Fixer\Basic\ObjectOperatorWithoutWhitespace => true,
    \PHP_CS_Fixer\Fixer\Basic\OperatorLinebreak => ['position' => 'beginning'],
    \PHP_CS_Fixer\Fixer\Basic\PhpClosingTag => true,
    \PHP_CS_Fixer\Fixer\Basic\PhpTagSyntax => ['each_php_tag_on_new_line' => false],
    \PHP_CS_Fixer\Fixer\Basic\ProtectedToPrivate => true,
    \PHP_CS_Fixer\Fixer\Basic\ReturnTypeDeclaration => true,
    \PHP_CS_Fixer\Fixer\Basic\SelfAccessor => true,
    \PHP_CS_Fixer\Fixer\Basic\ShortArraySyntax => true,
    \PHP_CS_Fixer\Fixer\Basic\ShortListSyntax => true,
    \PHP_CS_Fixer\Fixer\Basic\SingleBlankLineAtEof => true,
    \PHP_CS_Fixer\Fixer\Basic\SingleClassElementPerStatement => true,
    \PHP_CS_Fixer\Fixer\Basic\SingleImportPerStatement => true,
    \PHP_CS_Fixer\Fixer\Basic\SingleLineAfterImports => true,
    \PHP_CS_Fixer\Fixer\Basic\SingleQuote => ['strings_containing_internal_arrays' => false],
    \PHP_CS_Fixer\Fixer\Basic\SpaceAfterSemicolon => true,
    \PHP_CS_Fixer\Fixer\Basic\StandardizeIncrement => true,
    \PHP_CS_Fixer\Fixer\Basic\StandardizeNotIdentical => true,
    \PHP_CS_Fixer\Fixer\Basic\StringLineEnding => true,
    \PHP_CS_Fixer\Fixer\Basic\SwitchCaseSpace => true,
    \PHP_CS_Fixer\Fixer\Basic\TernaryOperatorSpaces => true,
    \PHP_CS_Fixer\Fixer\Basic\TrailingCommaInMultilineArray => ['elements' => ['arrays', 'arguments', 'parameters']],
    \PHP_CS_Fixer\Fixer\Basic\TrimArraySpaces => true,
    \PHP_CS_Fixer\Fixer\Basic\UnaryOperatorSpaces => true,
    \PHP_CS_Fixer\Fixer\Basic\WhitespaceAfterCommaInArray => true,

    // Additional rules
    \PHP_CS_Fixer\Fixer\Comment\HashToSlashComment => true,
    \PHP_CS_Fixer\Fixer\Comment\MultilineCommentOpeningClosing => true,
    \PHP_CS_Fixer\Fixer\Comment\SingleLineCommentStyle => ['comment_types' => ['hash']],

    // Naming rules
    \PHP_CS_Fixer\Fixer\Naming\ClassDefinition => true,
    \PHP_CS_Fixer\Fixer\Naming\ConstantCase => true,
    \PHP_CS_Fixer\Fixer\Naming\MethodArgument => true,
    \PHP_CS_Fixer\Fixer\Naming\Property => ['destructive' => false],

    // PHPUnit rules
    \PHP_CS_Fixer\Fixer\PHPUnit\PhpUnitConstruct => true,
    \PHP_CS_Fixer\Fixer\PHPUnit\PhpUnitDedicateAssertInternalType => true,
    \PHP_CS_Fixer\Fixer\PHPUnit\PhpUnitDedicateAssertMethod => true,
    \PHP_CS_Fixer\Fixer\PHPUnit\PhpUnitExpectation => true,
    \PHP_CS_Fixer\Fixer\PHPUnit\PhpUnitMock => ['set_expectations_on_prophesize_mock' => false],
    \PHP_CS_Fixer\Fixer\PHPUnit\PhpUnitNoExpectationOnSetUp => true,
    \PHP_CS_Fixer\Fixer\PHPUnit\PhpUnitTestAnnotation => ['style' => 'annotation'],
    \PHP_CS_Fixer\Fixer\PHPUnit\PhpUnitTestCaseStaticMethod => false,

    // Symfony rules
    \PHP_CS_Fixer\Fixer\Symfony\NoSuperfluousDoctrineRepositoryMethod => true,
    \PHP_CS_Fixer\Fixer\Symfony\NoUnusedImport => true,
    \PHP_CS_Fixer\Fixer\Symfony\PhpUnitInternalClass => false,
    \PHP_CS_Fixer\Fixer\Symfony\PhpUnitTestCaseStaticMethod => false,

    // Framework agnostic rules
    \PHP_CS_Fixer\Fixer\FrameworkInterop\PhpdocToParamType => true,
    \PHP_CS_Fixer\Fixer\FrameworkInterop\PhpdocToReturnType => true,
    \PHP_CS_Fixer\Fixer\FrameworkInterop\PhpdocVarWithoutName => true,

    // PSR-12 rules
    \PHP_CS_Fixer\Fixer\PSR\PSR12ClassDefinition => true,
    \PHP_CS_Fixer\Fixer\PSR\PSR12ControlStructure => true,
    \PHP_CS_Fixer\Fixer\PSR\PSR12FunctionCallSpace => true,
    \PHP_CS_Fixer\Fixer\PSR\PSR12MethodArgument => true,
    \PHP_CS_Fixer\Fixer\PSR\PSR12Property => true,
    \PHP_CS_Fixer\Fixer\PSR\PSR12ShortArraySyntax => true,
    \PHP_CS_Fixer\Fixer\PSR\PSR12SingleLineAfterImports => true,
];

return $rules;